
CONFIG VCCAUX="3.3";

NET "RESET2_B"      LOC = P1   | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW;

NET "SW8_B"         LOC = P5   | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW;
NET "SW7_B"         LOC = P6   | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW;
NET "SW6_B"         LOC = P7   | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW;
NET "SW5_B"         LOC = P8   | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW;
NET "SW4_B"         LOC = P9   | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW;
NET "SW3_B"         LOC = P10  | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW;
NET "SW2_B"         LOC = P11  | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW;
NET "SW1_B"         LOC = P12  | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW;

NET "RESET_SW"      LOC = P32  | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW;

NET "enc_A_B"       LOC = P33  | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW;
NET "enc_B_B"       LOC = P34  | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW;
NET "enc_Z_B"       LOC = P35  | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW;

NET "RESET_B"       LOC = P93  | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW;

NET "DA16_SDIN"     LOC = P112 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW;
NET "DA16_SYNC_B"   LOC = P114 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW;
NET "DA16_SCLK"     LOC = P115 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW;
NET "DA16_LDAC_B"   LOC = P116 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW;

NET "CLKIN"         LOC = P127 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW;

NET "LED5_B"        LOC = P139 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW;
NET "LED4_B"        LOC = P140 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW;
NET "LED3_B"        LOC = P141 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW;
NET "LED2_B"        LOC = P142 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW;

CONFIG PROHIBIT = P65;
CONFIG PROHIBIT = P39;
CONFIG PROHIBIT = P60;
CONFIG PROHIBIT = P69;
CONFIG PROHIBIT = P70;
CONFIG PROHIBIT = P144;


# PlanAhead Generated physical constraints 

#Created by Constraints Editor (xc6slx9-tqg144-2) - 2014/08/22

#60MHz
NET "CLK_60" TNM_NET = TNM_SYS;
#TIMESPEC "TS_TNM_SYS" = PERIOD "TNM_SYS" 7ns;
TIMESPEC "TS_TNM_SYS" = PERIOD "TNM_SYS" 8ns;

#120MHz
#NET "CLK_RX" TNM_NET = TNM_RX;
#TIMESPEC "TS_TNM_RX" = PERIOD "TNM_RX" 4ns;
#TIMESPEC "TS_TNM_RX" = PERIOD "TNM_RX" 6ns;


